<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>local.PrivateTailnetSSH.PlaygroundProbe</string>
    <key>CFBundleName</key>
    <string>PlaygroundProbe</string>
    <key>CFBundleExecutable</key>
    <string>PlaygroundProbe</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneSimulator</string>
    </array>
    <key>DTPlatformVariant</key>
    <string>simulator</string>
</dict>
</plist>
